# Default charset is UTF-8
AddDefaultCharset utf-8

Options +FollowSymLinks

# Turn on URL rewriting
RewriteEngine On
DirectoryIndex index.php

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>
RewriteRule ^.htaccess$ - [F]

# main rule
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.+)$ /index.php?$1 [L]
